/*
* {
  margin: 40;
  padding:40;
}
*/
a {
  text-decoration: none;
  color: black;
}

.bold-text {
  font-weight: bold;
}
.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFF5EE;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.nav-list {
  display: flex;
  margin-left: 2rem;
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list li {
  list-style-type: none;
}

/*
.main_events_timeline {
  list-style-type: disc;
}
*/
img-div {
  max-width: 100%;
  height: auto;
}
